@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

ul {
  list-style-type: none;
}


.pokemon-tipos {
  display: flex;
  gap: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  flex-wrap: wrap;
  justify-content: center;
}

.tipo {
  padding: 0.25rem 0.5rem;
  border-radius: 100vmax;
}

.pokemon-stats {
  display: flex;
  gap: 1rem;
  font-size: 0.85rem;
}

.stat {
  background-color: var(--clr-gray);
  padding: 0.25rem 0.5rem;
  border-radius: 100vmax;
}

.normal {
  background-color: #a8a878;
  color: #fff;
}

.fire {
  background-color: #f08030;
  color: #fff;
}

.water {
  background-color: #6890f0;
  color: #fff;
}

.grass {
  background-color: #78c850;
  color: #fff;
}

.electric {
  background-color: #f8d030;
  color: #fff;
}

.ice {
  background-color: #98d8d8;
  color: #fff;
}

.fighting {
  background-color: #c03028;
  color: #fff;
}

.poison {
  background-color: #a040a0;
  color: #fff;
}

.ground {
  background-color: #e0c068;
  color: #fff;
}

.flying {
  background-color: #a890f0;
  color: #fff;
}

.psychic {
  background-color: #f85888;
  color: #fff;
}

.bug {
  background-color: #a8b820;
  color: #fff;
}

.rock {
  background-color: #b8a038;
  color: #fff;
}

.ghost {
  background-color: #705898;
  color: #fff;
}

.dark {
  background-color: #705848;
  color: #fff;
}

.dragon {
  background-color: #7038f8;
  color: #f7f7f7;
}

.steel {
  background-color: #b8b8d0;
  color: #fff;
}

.fairy {
  background-color: #f0b6bc;
  color: #fff;
}
.stellar {
  background-color: #4a235a;
  color: #fff;
}

.unknown {
  background-color: #4a4d4e;
  color: #fff;
}
