.hero {
  position: relative;
  min-height: 100vh;
  /* background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  ); */

  background: rgb(139, 211, 212);
  background: radial-gradient(
    circle,
    rgba(139, 211, 212, 1) 0%,
    rgba(102, 175, 165, 1) 31%,
    rgba(69, 181, 165, 1) 48%,
    rgba(159, 201, 119, 1) 92%
  );
  /* background-image: url('https://static.vecteezy.com/system/resources/previews/001/849/097/non_2x/light-red-yellow-abstract-backdrop-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
}

svg {
  display: block; /* Evita espacios en blanco debajo del SVG (comportamiento inline) */
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: auto; /* Ajusta la altura automáticamente, manteniendo el aspecto */
  margin: 0; /* Opcional, por si tu hoja de estilo define algún margen por defecto */
  padding: 0; /* Igual para el padding */
  position: absolute;
  bottom: 0px;
}


.normal {
  background-color: #A8A878;
  color: #1c1c1c;
}

.fire {
  background-color: #F08030;
  color: #fff;
}

.water {
  background-color: #6890F0;
  color: #f7f7f7;
}

.grass {
  background-color: #78C850;
  color: #1c1c1c;
}

.electric {
  background-color: #F8D030;
  color: #1c1c1c;
}

.ice {
  background-color: #98D8D8;
  color: #1c1c1c;
}

.fighting {
  background-color: #C03028;
  color: #f7f7f7;
}

.poison {
  background-color: #A040A0;
  color: #f7f7f7;
}

.ground {
  background-color: #E0C068;
  color: #1c1c1c;
}

.flying {
  background-color: #A890F0;
  color: #1c1c1c;
}

.psychic {
  background-color: #F85888;
  color: #1c1c1c;
}

.bug {
  background-color: #A8B820;
  color: #1c1c1c;
}

.rock {
  background-color: #B8A038;
  color: #1c1c1c;
}

.ghost {
  background-color: #705898;
  color: #f7f7f7;
}

.dark {
  background-color: #705848;
  color: #f7f7f7;
}

.dragon {
  background-color: #7038F8;
  color: #f7f7f7;
}

.steel {
  background-color: #B8B8D0;
  color: #1c1c1c;
}

.fairy {
  background-color: #F0B6BC;
  color: #1c1c1c;
}

.stellar{
  background-color: #4a235a;
  color: #fff;
}

.unknown{
  background-color: #4a4d4e ;
  color: #fff;
}